.money-container {
  border: #d3ffba 5px solid;
  width: 53%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #009e43;
  margin-top: -100px;
  }

.money-container img {
  height: 90px
  }

header {
  border: #d3ffba 5px solid;
  margin-bottom: 40px;
  background-color: #009e43;
  }

.bank-container {
  width: 25%;
  display: flex;
  align-items: center;
  }

.bank-container img {
  height: 200px;
  }

.dynamic-box{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

button {
  width: 100px;
  }

.button-container {
  display: flex;
  justify-content: flex-end;
  }

.counter-container{
  width: 100px;
    border: #d3ffba 5px solid;
    margin: 20px;
    background-color: #009e43;
    font-size: 28px;
    display: flex;
    align-items: center;
  }

.questions-container{
  width: 120px;
  border: #d3ffba 5px solid;
  margin:20px;
  background-color: #009e43;
  font-size: 20px;
  }

.header-container{
  display:flex;
  justify-content: center;
  margin-bottom: -30px;
}

body{
  background-image: url("images/background.jpg");
}

h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-style: double;
}

p{
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

.money-container p{
  font-size: 25px;
}

.questions-container span {
  text-decoration: underline;
  font-size: 1.2em;
  color: #bf1717;
}

.body-container{
  margin-top: -48px;
}
